*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: linear-gradient(105deg, #740bf4, #0e21ca);
    height: 100vh;

}
.container{
    width: 40%;
    max-width: 500px;
    border-radius: 10px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px;
}
.container h2{
    display: flex;
    align-items: center;
    color: #002765;
    margin-bottom: 20px;
}
.container h2 img{
    width: 30px;
    margin-left: 10px;
}

.row{
    background: #edeef0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    padding-left: 20px;
    margin-bottom: 30px;
}
.row input{
    background: transparent;
    border: none;
    outline: none;
    padding: 10px;
    flex: 1;
    font-size: 14px;
}
.row button{
    padding: 8px 26px;
    background: #ff5945;
    border-radius: 25px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.row button:hover{
    background: #ec2c17;
}

ul li{
    list-style: none;
    font-size: 18px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    top: 12px;
    left: 8px;
    height: 28px;
    width: 28px;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

ul li.checked{
    text-decoration: line-through;
    color: #555;
}
ul li.checked::before{
    background-image: url(images/checked.png);
}

li span{
    position: absolute;
    right: 0px;
    top: 3px;
    font-size: 14px;
    line-height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 50%;
    transition: all ease 0.1s;
}
li span:hover{
    background: #edeef0;
}

.error{
    text-align: center;
    font-size: 17px;
    color: #ff5945;
    margin-top: -10px;
    display: none;
}